<div class="card">
    <div class="card-content">
        <div class="delete-area">
            <button class="delete-button" (click)="deleteCard(id)">
                 <i class="delete-button fas fa-trash"></i>
            </button>
        </div> 

        <div>
            <h2>{{ title }}</h2>
            <p><strong>Detalhes:</strong> {{ details }}</p>
            <p><strong>Criado em:</strong> {{ createdAt }}</p>
            <p><strong>Atualizado em:</strong> {{ updatedAt }}</p>
            <p><strong>Concluído:</strong> {{ completed ? 'Sim' : 'Não' }}</p>
        </div>
    </div>
</div>

