.btn-primary {
    background-color: #007bff;
    border-radius: 5px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 12px 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 25%;
    margin-left: 15px;
  }

.card-area {
    max-width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}