#nav-bar {
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* separa início e fim */
    align-items: center;
    padding: 10px 20px;
    background-color: var(--card-background);
}

#home-link {
    font-weight: 500;
}

#user-section {
    display: flex;
    align-items: center;
    gap: 10px; /* espaço entre saudação e botão */
}

#greeting {
    color: white;
    font-weight: 500;
}
