.pomodoro-container {
    border: 1px solid red;
    max-width: 35%;
    justify-content: center;
}

.timer {
    border: 1px solid red;
    align-items: center;
}

.buttons {
    border: 1px solid red;
}

.button {
    background-color: aqua;
    border-radius: 5px;

    &:hover {
        background-color: gray;
        transition: 0.3s;
    }
}