* {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: white;;
}

:root {
    --primary-color: #1e90ff; // Azul
    --secondary-color: #2ecc71; // Verde
    --background-color: #2d2d2d; // Cinza escuro
    --text-color: #ffffff; // Branco
    --card-background: #1e1e1e; // Preto
    --button-hover: #3d3d3d; // Cinza mais claro
  }
  
  body {
    background-color: var(--background-color);
  }